{% extends "base.html" %}

{% block content %}
<div class="box">
    <h2>Login</h2>
    <form method="POST">
        <input name="email" class="form-control mb-2" placeholder="Email" type="email" required>
        <input name="password" class="form-control mb-2" placeholder="Password" type="password" required>
        <button class="btn btn-success">Login</button>
        <span>Don't have an account? <a class="text-primary text-decoration-none fw-bold ml-2"
                href="{{ url_for('auth.register') }}">Register</a></span>
    </form>
</div>
{% endblock %}
